* {
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  border: 5px solid green;
  align-content: space-between;
  margin: 1%;
}